.tabs{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 5px;
}
.nav-tab{
  padding: 0;
  margin: 0;
  width: 100%;
  border-bottom: 1px inset #fff;
  ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    width: 100%;
    justify-content: flex-start;
    padding: 20px 0;
    margin: 0;
    li{
      position: relative;
      margin-right: 20px;
      &.active{
        color: #009999;
      }
      &:after{
        content: '';
        display: block;
        position: absolute;
        width: 1px;
        height: 100%;
        background: #fff;
        right: -10px;
        top: 0;
      }
    }
  }
}

.tab-content{
  min-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  
}