.form_wrap{
  width: 100%;
  form{
    width: 360px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    input {
      width: 100%;
      height: 50px;
      background: transparent;
      border: none;
      border-bottom: 1px solid #ffffff;
      margin-bottom: 30px;
      color: #fff;
      &::placeholder{
        color: #fff;
      }
      &:focus{
        outline: none;
      }
      &[type="submit"]{
        border: 1px solid #ffffff;
        color: #ffffff;
        text-transform: uppercase;
        font-size: 16px;
        transition: all 0.5s ease;
        cursor: pointer;
        &:hover{
          background: #fff;
          color: #006363; 
        }
        
      }

    }
  }
}

.loader {
  border: 16px solid #009999;
  border-top: 16px solid #006363;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}