nav{
    ul{
        display: flex;
       list-style: none;
       li{
           margin-right: 10px;
           position: relative;
           &:hover{
               &:after{
                   width: 100%;
               }
           }
           &:after{
               content: "";
               width: 0%;
               height: 2px;
               position: absolute;
               bottom:-2px;
               left: 0;
               background: #ffffff;
               transition: all 0.5s ease;
           }
       }

    }
}